<template>
  <v-row>
    <v-col cols="12">
      <v-file-input v-model="files" filled label="Arquivo com dados"></v-file-input>
    </v-col>
    <v-col>
      <v-btn class="primary white--text" tile @click="importCSV()" :disabled="!files">Importar</v-btn>
    </v-col>
    <v-col cols="12">
      <v-data-table :items="items" :headers="headers">
        <template v-slot:item.name="{ item }">
          {{ item.name }}
        </template>
         <template v-slot:item.host="{ item }">
          {{ item.host }}
        </template>
         <template v-slot:item.path="{ item }">
          {{ item.path }}
        </template>
      </v-data-table>
    </v-col>
    <v-col cols="12">
      <v-btn class="primary white--text" tile @click="save()" :disabled="items.length === 0">
        Salvar
      </v-btn>
    </v-col>
  </v-row>
</template>

<script>
import csv from 'csv'
import fs from 'fs'
export default {
  data () {
    return {
      headers: [
        {
          text: 'Nome',
          value: 'name'
        },
        {
          text: 'Servidor',
          value: 'host'
        },
        {
          text: 'Caminho',
          value: 'path'
        }
      ],
      files: undefined,
      items: []
    }
  },
  methods: {
    importCSV () {
      const file = fs.readFileSync(this.files.path)
      csv.parse(file, (err, result) => {
        if (err) {
          alert('Falha ao carregar arquivo')
          return
        }
        const columns = result[0]
        const [, ...lines] = result
        this.items = lines.map(value => {
          const namePosition = columns.findIndex(x => { return x === 'name' })
          const hostPosition = columns.findIndex(x => { return x === 'host' })
          const pathPosition = columns.findIndex(x => { return x === 'path' })
          return {
            name: value[namePosition],
            host: value[hostPosition],
            path: value[pathPosition]
          }
        })
      })
    },
    save () {
      localStorage.setItem('folder', JSON.stringify(this.items))
      alert('Salvo com êxito')
    }
  }
}
</script>

<style>
</style>
