<template>
  <v-row class="ma-1">
    <v-col cols="12">
      <v-btn class="primary white--text" icon @click="update">
        <v-icon>mdi-update</v-icon>
      </v-btn>
    </v-col>
    <v-col cols="4" v-for="folder in folders" :key="folder.name">
      <v-card class="pa-1 primary white--text" tile>
        <v-card-title>
          Local: {{ folder.name }}
        </v-card-title>
        <v-card-text class="white--text">
          Arquivos não processados: {{ count(folder.path) }}
          <hr>
          Caminho: {{ folder.path }}
          <v-progress-linear :indeterminate="folder.loading" color="white" v-if="folder.loading"></v-progress-linear>
        </v-card-text>
        <v-card-actions>
          <v-btn icon @click="open(folder)" class="white red--text" title="Apagar arquivos">
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import fs from 'fs'
import path from 'path'
export default {
  data: () => {
    return {
      folders: JSON.parse(localStorage.getItem('folder')) || []
    }
  },
  methods: {
    open (folder) {
      folder.loading = true

      const files = fs.readdirSync(folder.path)
      for (const index in files) {
        const file = files[index]
        fs.unlinkSync(path.resolve(folder.path, file), (err) => {
          if (err) alert(`Erro ao apagar o arquivo ${file}`)
        })
      }
      folder.loading = false
      this.update()
    },
    update () {
      this.folders = JSON.parse(localStorage.getItem('folder')) || []
    },
    count (path) {
      try {
        return fs.readdirSync(path).length
      } catch (e) {
        return 'Falha ao buscar dados'
      }
    }
  }
}
</script>

<style>

</style>
