<template>
  <v-app>
    <v-container fluid>
      <v-navigation-drawer app clipped>
        <v-list>
          <v-list-item to="/">
            <v-list-item-content>
              Listar pastas
            </v-list-item-content>
          </v-list-item>
           <v-list-item to="/config">
            <v-list-item-content>
              Configuração
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
     <v-content>
        <router-view></router-view>
      </v-content>
    </v-container>
  </v-app>
</template>

<script>
export default {
  name: 'App'
}
</script>
